---
const {
  title = "Logra tu Wellness | Salud y Bienestar",
  description = "Consejos de salud, bienestar, fitness, salud digital y sueño.",
  // image = "./favicon.svg",
} = Astro.props;
---
<!doctype html>
<html lang="es" class="bg-dark text-light">
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- 🧠 SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- 📸 Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content={image} /> -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta property="og:type" content="article" />

    <!-- 🐦 Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <!-- <meta name="twitter:image" content={image} /> -->

  </head>
	<!-- <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Descubre consejos y productos recomendados para fitness, nutrición, salud digital y sueño. Mejora tu bienestar desde casa.">
		<title>Logra Tú Wellness | Mejora tu rutina desde casa</title>
	</head> -->
	<body class="text-gray-800 antialiased; bg-dark min-h-screen">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background-color: var(--color-dark);
		color: var(--text-light);
		font-family: system-ui, sans-serif;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		/* color: var(--text-light); */
	}
</style>
